@model ProfessorCourse_BestFit.Models.ViewModels.DepartmentViewModel

@{ 
    int num = 0;
    int counterr = 0;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Departments</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                        <li class="breadcrumb-item active">Contact</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">


                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-2">

                                    @if (Model.normal_Users != null)
                                    {
                                        <select id="listofallusers" class="form-control">
                                            <option value="-100">
                                                -- select --
                                            </option>
                                            @foreach (var option in Model.normal_Users)
                                            {
                                                <option value=@option.Uid>
                                                    @option.FirstName  @option.MiddleName  @option.LastName ( @option.Email )
                                                </option>
                                            }
                                        </select>
                                    }
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-primary" id="addRow">
                                        Add new manager
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Professor Name</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody id="tbhold">

                                    

                                    


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Professor Name</th>
                                        <th>Select</th>
                                    </tr>
                                </tfoot>

                            </table>



                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <button class="btn btn-primary" type="submit" id="submit" data-id="@Model.Department.DepId">
                        Save Changes
                    </button>
                </div>
                <!-- /.col -->
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
       
    </section>
    <!-- /.content -->




</div>
<!-- /.content-wrapper -->




@section Scripts{

    <script>


        @*
            @if (Model.normal_Users != null)
            {
                var s = "";

                s += "< select ><option id='-100'>--select--</option>";

                foreach (var item in Model.normal_Users)
                {
                    s += "<option value=" + @item.Uid + ">" + @item.FirstName + " " + @item.MiddleName + " " + @item.LastName + "</option>";
                }
                s += "</select>";

            }
        *@

        var counter;

        if (counter == null) {
            counter = 0;
        }


        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });

        $(document).ready(function () {
            @*var jsArray = @Html.Raw(Json.Encode(Model.normal_Users));*@

            /*
            var selecttt = document.createElement("select");
            selecttt.name = "selectlist";
            var option = document.createElement("option");
            option.value = -100;
            option.text = "--select--";
            selecttt.appendChild(option);
            for (var ii = 0; ii < jsArray.length; ii++) {
                var option = document.createElement("option");
                option.value = jsArray[ii].Uid;
                option.text = jsArray[ii].FirstName + " " + jsArray[ii].MiddleName + " " + jsArray[ii].LastName +" ( "+ jsArray[ii].Email+" )";
                selecttt.appendChild(option);
            }
            */


            //document.querySelector("select")
            //var tablebody = document.getElementById('tbhold');
            //var test = tablebody.innerHTML + selecttt;

            //var s = "";
            //s += "< select ><option id='-100'>--select--</option>";
            //for (var ii = 0; ii < jsArray.length; ii++) {
            //    s += "<option value=" + jsArray[ii].Uid + ">" + jsArray[ii].FirstName + " " + jsArray[ii].MiddleName + " " + jsArray[ii].LastName + "-" + jsArray[ii].Email +"</option>";
            //}
            //s += "</select>";
            //console.log(s);
            //document.body.appendChild(selecttt);

            var t = $('#example1').DataTable();
            $('#addRow').on('click', function () {

                var select = document.getElementById('listofallusers');
                var option = select.options[select.selectedIndex];
                var text = option.text;
                var value = option.value;
                console.log(option.value);
                console.log(option.text);
                var optionn = document.createElement("option");
                optionn.value = "50";
                optionn.text = "hello";
                select.appendChild(optionn);
                select.remove(value);
                
                t.row.add(["--",
                    '<h6>' + text + '</h6>',
                    '<input id=' + counter + ' class="btn btn-danger btndeleterow" type="button" value="Remove" onclick="removerow(' + counter + ')"/>']).draw();
                    






                /*
                
                var listoptions = [];
                for (var ii = 0; ii < jsArray.length; ii++) {
                    var option = document.createElement("option");
                    option.value = jsArray[ii].Uid;
                    option.text = jsArray[ii].FirstName + " " + jsArray[ii].MiddleName + " " + jsArray[ii].LastName + " ( " + jsArray[ii].Email + " )";
                    listoptions.push(option);
                }
                */
                //console.log(jsArray);
                //var newrow = ["--", selecttt, '<input id=' + counter + ' class="btn btn-danger btndeleterow" type="button" value="Remove" onclick="removerow(' + counter + ')"/>'];
                /*
                t.row.add(["--",
                    '<select id='+"selectlist" + counter +'><option id="-100">--select--</option></select>',
                    '<input id=' + counter + ' class="btn btn-danger btndeleterow" type="button" value="Remove" onclick="removerow(' + counter + ')"/>']).draw();
                    */
                //var newrow = '<tr><td>--</td>' + selecttt +'<td></td><td><input id=' + counter + ' class="btn btn-danger btndeleterow" type="button" value="Remove" onclick="removerow(' + counter + ')"/></td></tr>';

                //
                //t.row.appendChild(newrow);
                /*
                var testlist = document.getElementById('selectlist' + counter);
                console.log(testlist);
                
                testlist.appendChild(listoptions);
                counter = counter + 1;
                console.log(jsArray);
                //console.log(selecttt);
                //document.body.appendChild(selecttt);
                */
            });


        })
        
        function removerow(number) {
            var tableremove = $('#example1').DataTable();
            var id = number;
            var b = document.getElementById(id);
            tableremove.row(b.closest('tr')).remove().draw();

        }
        
        /*
           $('#tbhold input[type="button"]').click(function () {
                cell = $(this).parent().prev();
                cell.remove();
            });

        $('.btndeleterow').on('click', function () {
            var t = $('#example1').DataTable();
            var deleterows = $(this).closest('tr');
            t.row.deleterows.remove();

        });
        */

        //FOR SUBMITION
        var checkboxes = document.getElementsByName("ch");
        var btn = document.getElementById("submit");
        var listOfID = []
        var lists = document.getElementsByName("select");
        var allvalue = []
        btn.addEventListener("click", () => {
            for (let i = 0; i < lists.length; i++) {
                if (lists[i].value != null) {

                    allvalue.push(lists[i].value)
                }
            }

            /*
             for (let i = 0; i < lists.length; i++) {
                if (checkboxes[i].chacked) {

                    listOfID.push(checkboxes[i].getAttribute("id"))
                }
            }
            */

            $.ajax({
                url: '/Department/Add_Remove_Department_Managers/',
                type: 'post',
                data: {
                    id: btn.getAttribute("data-id"),
                    ids: allvalue
                },
                success: function (json) {
                    if (json.isRedirect) {
                        window.location.href = json.redirectUrl;
                    }
                }
            });

        })


    </script>


}