@model ProfessorCourse_BestFit.Models.ViewModels.DepartmentViewModel
@Styles.Render("~/Content/MyStyle.css")
@{
    ViewBag.Title = "All_Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Departments</h2>
<br />
<button class="btn btn-warning btnstyleDpartmentList" onclick="location.href='@Url.Action("Create_Department", "Department")';return false;">Create New</button>
<hr />
<div class="warp">
    @foreach (var item in Model.all_departments)
    {
        <div class="dipartmentlist">
            <h4 class="Departmentname">@item.Dep_Name</h4>
            <div class="col-xl-offset-2 col-xl-10">
                <button class="btn btn-warning btnstyleDpartmentList" onclick="location.href='@Url.Action("Show_Department_Information", "Department", new { id = item.Dep_Id })';return false;">View Details</button>
                <button class="btn btn-danger btnstyleDpartmentList" onclick="location.href='@Url.Action("Delete_Department", "Department", new { id = item.Dep_Id })';return false;">Delete</button>
            </div>
        </div>
    }

</div>