@model ProfessorCourse_BestFit.Models.ViewModels.DepartmentViewModel

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Departments</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12"
                <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title">Create Department</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                    <div class="form-group">
                    @Html.LabelFor(model => model.Dep_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Dep_Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dep_Name, "", new { @class = "text-danger" })
                    </div>
                    </div>

                    <div class="card-footer">
                    <a href="/Department/All_Departments" class="btn btn-warning"><i class="bi bi-arrow-left"></i> Back/Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
                <div class="card-footer">
                    @if (ViewBag.existName != null)
                    {
                        <div class="alert alert-warning" role="alert">
                            <h4 class="alert-heading">Name Exist!</h4>
                            <p>@ViewBag.existName</p>
                            <hr>
                            <p class="mb-0">@ViewBag.data_not_saved</p>
                        </div>
                    }
                    @if (ViewBag.savetitle == "Done...")
                    {
                        <div class="alert alert-success" role="alert">
                            <h4 class="alert-heading">Done!</h4>
                            <p>@ViewBag.savetitle</p>
                            <hr>
                            <p class="mb-0">@ViewBag.savebody</p>
                        </div>
                    }
                    else if(ViewBag.savetitle != "Done..." && ViewBag.savetitle != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <h4 class="alert-heading">Name Exist!</h4>
                            <p>@ViewBag.savetitle</p>
                            <hr>
                            <p class="mb-0">@ViewBag.savebody</p>
                        </div>
                    }
                </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
