@model ProfessorCourse_BestFit.Models.Department

@{
    ViewBag.Title = "CreateDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateDepartment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Department</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Dep_Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dep_Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dep_Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.User_Id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.User_Id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.User_Id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    @if (ViewData["Message"] == "Done")
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Done</h4>
            <hr>
            <p>The Department created successfully.</p>
        </div>
    }
    else if (ViewData["Message"] == "Fail")
    {
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Sorry!</h4>
            <hr>
            <p>Server Down Pleas Try Again Laiter.</p>
        </div>
    }
</div>
}

<div class="form-group">
    <div class="col-xl-offset-2 col-xl-10">
        <button class="btn btn-default" onclick="location.href='@Url.Action("ListDepartment", "Department")';return false;">Back</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}