@model ProfessorCourse_BestFit.Models.ViewModels.DepartmentViewModel
@{
    ViewBag.Title = "Create_Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Department</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Department</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Dep_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dep_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dep_Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-10">
                <div class="col-md-10">
                    @*ViewBag.CityList is holding all the cities values*@
                    @Html.DropDownListFor(model => model.id, ViewBag.CityList as SelectList, new { @class = "form-control", multiple = "multiple" })
                    @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@{
    if (ViewBag.savetitle == "Done...")
    {
        <div class="row" style="border-left: 4px solid green; background-color: MediumSpringGreen;">
            <h3>
                @ViewBag.savetitle
            </h3>
            <hr />
            <p>
                @ViewBag.savebody
            </p>
        </div>
    }
    else if (ViewBag.savetitle == "Failed!")
    {
        <div class="row" style="border-left: 4px solid red; background-color: Crimson;">
            <h3>
                @ViewBag.savetitle
            </h3>
            <hr />
            <p>
                @ViewBag.savebody
            </p>
        </div>
    }
}

<div class="form-group">
    <div class="col-xl-offset-2 col-xl-10">
        <button class="btn btn-primary" onclick="location.href='@Url.Action("ListDepartment", "Department")';return false;">Back</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
