@model ProfessorCourse_BestFit.Models.ViewModels.DepartmentViewModel

@{
    ViewBag.Title = "EditDepartment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin:10px">Edit Department</h2>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Dep_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dep_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dep_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Dep_Id)
        <h3>List Of Professors</h3>
        <select name="ListOfProfessors" id="ListOfProfessors">
            <option>Select Maneger</option>
            @for (int i = 0; i < Model.list_Professors.Count; i++)
            {
                <option value=@Model.list_Professors[i].UserId>@Model.list_Professors[i].FirstName @Model.list_Professors[i].LastName</option>
                @*<button class="btn btn-primary">View Manager Profile</button>*@
            }
            @Html.HiddenFor(model => model.Manager_User_Name)
        </select>
        <br />
        <h3>List Of Programs Selected</h3>
        @for (int i = 0; i < Model.list_programs.Count; i++)
        {
            //<option value=@Model.list_programs[i].PId>@Model.list_programs[i].Name</option>
            // <input type='checkbox' id=@Model.list_programs[i].PId value=@Model.list_programs[i].Name><br />
            @*<button class="btn btn-primary">View Program Details</button>*@

            <div>
                <label>
                    @Model.list_programs[i].Name
                </label>
                <button class="btn btn-primary">Add</button>
                <button class="btn btn-primary">Remove</button>
            </div>
            <br />
        }
        <hr />
        <hr />
        <h3>All Programs</h3>
        <br />
        <br />
        <br />
        <hr />


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
    }

    <button class="btn btn-primary" onclick="location.href='@Url.Action("ViewDepartmentsInfo", "Department", new { id = Model.Dep_Id })';return false;">Back</button>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*
        <script type="text/javascript">
            /*
                $("body").on("change", "#ListOfProfessors", function () {
                    $("input[name=Manager_User_Name]").val($(this).find("option:selected").text());
                });
                var checkboxes = document.querySelectorAll('input[type=checkbox]');
                var selectedCheckboxes = [];

                function getSelectedValues() {
                    selectedCheckboxes = [];
                    for (let i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked) {
                            selectedCheckboxes.push(checkboxes[i].id);
                        }
                    }

                    if (selectedCheckboxes.length != 0) {
                        @{int i = 0; }
                        for (let i = 0; i < checkboxes.length; i++) {
                        @Model.list_programs[i].PId = selectedCheckboxes[i];
                        @{i++; }
                        }
                    } else {
                        @Model.list_programs = null;
                    }

                }

    /*
    $('#checkboxall').change(function () {
    $('input[name="checkbox"]')[this.checked ? 'not' : 'filter'](':checked').prop('checked', this.checked).change();
    })

    $('input[name="checkbox"]').change(function () {
    var id = $(this).data('id')
    if (this.checked) {
    checkedProducts.push(id);
    } else {
    var index = checkedProducts.indexOf(id);
    if (index > -1) {
    checkedProducts.splice(index, 1);
    }
    }

    console.log(checkedProducts)
    })
    */
    /*
    var data="";
    $.each($("input:checkbox"),function(){
    if($(this).is("checked")){
    data+= $(this).val();
    }
    });
    */
    </script>
    *@
}
