@model ProfessorCourse_BestFit.Models.ViewModels.DepartmentViewModel
@Styles.Render("~/Content/style/Department/tree.css")
@{
    ViewBag.Title = "Show_Department_Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h2>Show Department Information</h2>
    <ul id="myUL">
        <li>
            <span class="caret">first li</span>
            <ul class="nested">
                <li>
                    <span class="caret">water</span>
                    <ul class="nested">
                        <li>hello</li>
                        <li>hi</li>
                    </ul>
                </li>
                <li>
                    <span class="caret">coffee</span>
                    <ul class="nested">
                        <li>hello</li>
                        <li>hi</li>
                    </ul>
                </li>
                <li>
                    <span class="caret">tea</span>
                    <ul class="nested">
                        <li>black</li>
                        <li>green</li>
                        <li>
                            <span class="caret">part 3</span>
                            <ul class="nested">
                                <li>hello</li>
                                <li>hi</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>


    <hr />

    <ul id="myUL">
        <li>
            <span class="caret">@Html.LabelFor(m => m.Dep_Name)</span>
            <ul class="nested">
                <li>
                    <span class="caret">Managers :</span>
                    <ul class="nested">
                        @if (ViewBag.allManagers != "null")
                        {
                            for (int i = 0; i < Model.List_Managers_Details.Count(); i++)
                            {
                                <li>
                                    <a asp-action="index" asp-controller="home" asp-route-id=@Model.List_Managers_Details[i].UserId>
                                        @Model.List_Managers_Details[i].FirstName @Model.List_Managers_Details[i].LastName
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </li>
                <li>
                    <span class="caret">Programs :</span>
                    <ul class="nested">
                        @if (Model.List_Department_Programs.Count() != 0)
                        {
                            for (int i = 0; i < Model.List_Department_Programs.Count(); i++)
                            {
                                <li>
                                    <a asp-action="index" asp-controller="home" asp-route-id=@Model.List_Department_Programs[i].PId>
                                        @Model.List_Department_Programs[i].Name
                                    </a>
                                </li>
                            }
                        }

                    </ul>
                </li>
            </ul>
        </li>
    </ul>

</body>
</html>
@Scripts.Render("~/Scripts/scripts/tree.js")
