@model ProfessorCourse_BestFit.Models.ViewModels.DepartmentViewModel

@{
    ViewBag.Title = "ViewDepartmentsInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin:10px">View Departments Information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dep_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dep_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager_User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager_User_Name)
        </dd>
        <label> The Program in the department:</label>
            @foreach (var item in Model.list_programs)
            {
                <label>@item.Name</label>
            }

    </dl>
</div>

<button class="btn btn-primary" onclick="location.href='@Url.Action("EditDepartment", "Department", new { id = Model.Dep_Id })';return false;">Edit</button>
<button class="btn btn-primary" onclick="location.href='@Url.Action("ListDepartment", "Department")';return false;">Back</button>


