@model ProfessorCourse_BestFit.Models.ViewModels.ProgramViewModel
@Styles.Render("~/Content/MyStyle.css")
@{
    ViewBag.Title = "All_Programs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Programs</h2>

<br />
<button class="btn btn-warning btnstyleDpartmentList" onclick="location.href='@Url.Action("Create_Program", "Program")';return false;">Create New</button>
<br />
<div class="warp">
    @foreach (var item in Model.All_Programs)
    {
        <div class="dipartmentlist">
            <h4 class="Departmentname">@item.Name</h4>
            <div class="col-xl-offset-2 col-xl-10">
                <button class="btn btn-warning btnstyleDpartmentList" onclick="location.href='@Url.Action("Show_Program_information", "Program", new { id = item.PId })';return false;">View Details</button>
                <button class="btn btn-danger btnstyleDpartmentList" onclick="location.href='@Url.Action("Delete_Program", "Program", new { id = item.PId })';return false;">Delete</button>
            </div>
        </div>
    }
</div>
@*
    
    <script>
        $('#btnGetMilestones').click(function () {
            $.ajax({
                url: '/Projects/GetMilestones/' + "?id=" + window.location.href.split('/').pop(),
                type: "GET",
                success: function (data) {
                    $('#milestonesContainer').html(data);
                },
                error: function (xhr, status, error) {
                    var msg = "Response failed with status: " + status + "</br>"
                        + " Error: " + error;
                    $('#milestonesContainer').html(msg);
                },
                complete: function (xhr, status) {
                    var doneMsg = "Operation complete with status: " + status;
                    alert(doneMsg);
                }
            });
        });
    </script>
*@