@model ProfessorCourse_BestFit.Models.ViewModels.CourseViewModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Courses</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                        <li class="breadcrumb-item active">Contact</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">


                    <div class="card">
                        <div class="card-header">
                            <a href="/Course/Create_Course" class="btn btn-primary">
                                <i class="bi bi-plus-circle"></i>
                                Create
                            </a>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Course Name</th>
                                        <th>Course Code</th>
                                        <th>Created Day</th>
                                        <th>Duration</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int num = 0;}
                                    @if (Model.all_Courses != null)
                                    {
                                        foreach (var item in Model.all_Courses)
                                        {
                                            
                                                <tr class="js-row">
                                                    <td>@(num++)</td>
                                                    <td>@item.CName</td>
                                                    <td>@item.Code</td>
                                                    <td>@item.CreatedOn</td>
                                                    <td>@item.Duration</td>

                                                    <td>

                                                        <a class="btn bg-gradient-info" href="/Course/view_Course_Information/@item.CId">
                                                            View Information
                                                        </a>

                                                        <a class="btn bg-gradient-success" href="/Course/Edit_Course_Name/@item.CId">
                                                            <i class="bi bi-pencil-square"></i>
                                                            Edit
                                                        </a>

                                                        <a class="btn bg-gradient-success" href="/Course/Add_Remove_Course_Professors/@item.CId">
                                                            <i class="bi bi-pencil"></i>
                                                            Add/Remove Professors
                                                        </a>

                                                        <a class="btn bg-gradient-success" href="/Course/Add_Remove_Course_Programs/@item.CId">
                                                            <i class="bi bi-pencil"></i>
                                                            Add/Remove Programs
                                                        </a>

                                                        <button type="button" class="btn btn-danger js-delete" data-toggle="modal" data-target="#modal-danger" uid-data="@item.CId">
                                                            <i class="bi bi-exclamation-triangle"></i>
                                                            Delete
                                                        </button>

                                                    </td>
                                                </tr>
                                                                                        
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Course Name</th>
                                        <th>Course Code</th>
                                        <th>Created Day</th>
                                        <th>Duration</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>

                            </table>


                            <div class="modal fade" id="modal-danger">
                                <div class="modal-dialog">
                                    <div class="modal-content bg-danger">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Delete</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this course?</p>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-outline-light delete-course" data-dismiss="modal">Save changes</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>

                           
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->




@section Scripts{

    <script>

        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });


        $(".js-row .js-delete").on("click", function () {
            let button = $(this);

            $(".delete-course").on("click", function () {

                $.ajax({
                    url: "/Course/Delete_Course/" + button.attr("uid-data"),
                    method: "post",
                    success: function (json) {
                        if (json.isRedirect) {
                            window.location.href = json.redirectUrl;
                        }
                    }
                })

            })
        })



    </script>


}

