@model ProfessorCourse_BestFit.Models.ViewModels.CourseViewModel

@{
    ViewBag.Title = "Show_Course_information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show Course information</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit_Course", new { id = Model.CId }) |
    @Html.ActionLink("Back", "All_Course")
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}