@if (Request.IsAuthenticated)
{
    <nav class="navbar navbar-expand-lg bg-primary sticky-top">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">


                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-light" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link text-light" })</li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Courses", "Index", "Home", null, new { @class = "dropdown-item text-primary" })</li>
                            <li>@Html.ActionLink("Professors", "Index", "Home", null, new { @class = "dropdown-item text-primary" })</li>
                            <li>@Html.ActionLink(HttpContext.Current.User.Identity.Name, "", "", null, new { @class = "nav-link text-light" })</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "nav-link text-light" })</li>
                            <li>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link text-light" })</li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>


}
else
{
    <nav class="navbar navbar-expand-lg bg-primary sticky-top">
        <div class="container-fluid">

           
           

                <div class="container-fluid d-flex justify-content-around">

                    <div class="text-light d-none d-xl-block">
                        <i class="bi bi-telephone"></i>
                        Call us:+961 01 000 1111




                        <i class="bi bi-envelope"></i>
                        E-mail: <a href="mailto:profCourse@gmail.com" class="text-light mail-css">profCourse@gmail.com</a>
                    </div>

                    <div class="text-light">
                        You are not logged in
                    </div>

                </div>
            </div>
        
    </nav>


}


