@if (Request.IsAuthenticated)
{
    <nav class="navbar navbar-expand-lg bg-primary sticky-top">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">


                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link text-light" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link text-light" })</li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Professors", "Index", "Professor", null, new { @class = "dropdown-item " })</li>


                        </ul>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white; border-left:1px solid black;">
                            Department
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("All Departments", "ListDepartment", "Department", null, new { @class = "dropdown-item " })</li>
                            <li>@Html.ActionLink("Create Department", "CreateDepartment", "Department", null, new { @class = "dropdown-item " })</li>
                        </ul>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white; border-left:1px solid black;">
                            Programs
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("All Programs", "ListOfProgram", "Program", null, new { @class = "dropdown-item " })</li>
                            <li>@Html.ActionLink("Create Program", "CreateProgram", "Program", null, new { @class = "dropdown-item " })</li>
                        </ul>

                    </li>


                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle display-6"></i>
                            @HttpContext.Current.User.Identity.Name
                        </a>
                        <ul class="dropdown-menu">
                           
                            <li>@Html.ActionLink(HttpContext.Current.User.Identity.Name, "", "", null, new { @class = "dropdown-item " })</li>

                            <li>@Html.ActionLink("Profile", "Register", "Account", null, new { @class = "dropdown-item" })</li>
                            <li>
                                <a href="/Account/Logout" class="dropdown-item">
                                    <i class="bi bi-box-arrow-in-left"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>


}
else
{
    <nav class="navbar navbar-expand-lg bg-primary sticky-top">
        <div class="container-fluid">

           
           

                <div class="container-fluid d-flex justify-content-around">

                    <div class="text-light d-none d-xl-block">
                        <i class="bi bi-telephone"></i>
                        Call us:+961 01 000 1111




                        <i class="bi bi-envelope"></i>
                        E-mail: <a href="mailto:profCourse@gmail.com" class="text-light mail-css">profCourse@gmail.com</a>
                    </div>

                    <div class="text-light">
                        You are not logged in
                    </div>

                </div>
            </div>
        
    </nav>


}


